* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.btn {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    background-color: #F0B745;
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.btn.disabled {
    pointer-events: none;
    background-color: grey;
}
nav {
    background-color: #4689F0;
}
nav .container {
    display: flex;
    justify-content: space-between;
}

nav .menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav .menu ul li {

}

nav .menu ul li a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

nav .menu ul li a:hover {
    color: #F0B745;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.container.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    padding: 10px;
    position: relative;
}

.product .sale {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 19px;
    background-color: red;
}

.product .out-of-stock {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 19px;
    background-color: grey;
}

.product .product-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.product .product-price {
    font-size: 18px;
    margin-bottom: 15px;
}

.product .product-img img {
    width: 100%;
}

.single-product .product-img {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.single-product .product-img img {
    width: 100%;
}

.single-product .sale {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 19px;
    background-color: red;
}

.single-product .out-of-stock {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 19px;
    background-color: grey;
}

.single-product .product-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.single-product .product-desc {
    margin-bottom: 10px;
}

.single-product .product-price {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
}

.login-form label input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.register-form label {
    display: block;
}

.register-form label input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

@media screen and (max-width: 1350px) {
    .container.products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .single-product .product-img {
        width: 85%;
    }
}

@media screen and (max-width: 1110px) {
    .container.products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .container.products {
        grid-template-columns: 1fr;
    }
}